.loading-conatiner{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
.loading-conatiner img{ 
    height: 350px;
}
.loading-conatiner-max{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}