.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5fa;

}
.search-container-con{
    width: 1200px;
}
.sort-filter{
    display: flex;
    margin-top: 30px;
}
.search-container-sort{
    flex: 1;
    padding-right:20px;
}
.search-container-filter{
    flex: 1;
}
.product-in-search{
    min-height: 100vh;
}
.select-sort{
    width: 100%;
    padding:8px;
    outline: 1px solid #ccc;
}
.product-load-new{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #00B761;
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: 600;
}
.product-load-new:hover{
    text-decoration: underline;
}
@media (min-width:780px) and (max-width:1023px) {
    .search-container-con{
        width: 100%;
    }
    .sort-filter{
        margin: 30px 10px 0 10px;
    }
    .select-sort{
        font-size: 14px;
    }
}
@media (max-width:779px){
   
    .search-container-con{
        width: 100%;
    }
    .sort-filter{
        margin: 30px 10px 0 10px;
    }
    .select-sort{
        font-size: 12px;
    }
}