.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5fa;
}
.cart-empty{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.cart-empty img{
    width: 700px;
    height: 500px;
}
.cart-container-con{
    width: 1200px;  
    display: flex;
    min-height: 70vh;
}
.cart-products-container{
    margin-top: 20px;
    flex: 2;
}
.cart-bill{
    flex:1;
}

.cart-bill-con{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    
    color: #444;
}
.cart-bill-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}
.cart-bill-item{
    display: flex;
    justify-content: space-between;
    padding:8px 10px;
    font-size: 20px;
}
.cart-bill-border{
    border-bottom: 1px solid #ccc;
}
.cart-bill-total{
    color: #000;
    margin-top: 5px;
    font-weight: 500;
}
.btn-checkout-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-checkout{
   background-color: #00B761;
   border: none;
   outline: none;
   color: #fff;
   width: 100%;
   padding: 6px 0;
   border-radius: 5px;
   font-size: 20px;
   transition: .4s;
}
.btn-checkout:hover{
    opacity: 0.7;
}

@media (min-width:700px) and (max-width:1023px) {
    .cart-container-con{
        width: 100%;
        margin: 0 15px;
        min-height: 10vh;
    }
    .cart-container-con{
        flex-direction: column;
    }
    .cart-products-container{
        width: 100%;
    }
    .cart-bill{
        width: 100%;
        margin-bottom: 30px;
    }
    .cart-bill-con{
        margin-left: 0;
    }
    .cart-bill-title{
        font-size: 22px;
    }
    .btn-checkout,.cart-bill-price,.cart-bill-name{
        font-size: 18px;
    }
    .cart-bill-total{
        font-size: 19px;
    } 
    .cart-empty{
        width: 100%;
    }
    .cart-empty img{
        width: 100%;
    }
}

@media (max-width:699px) {
    .cart-container-con{
        width: 100%;
        margin: 0 15px;
        min-height: 10vh;
    }
    .cart-container-con{
        flex-direction: column;
    }
    .cart-products-container{
        width: 100%;
        margin-top: 20px;
    }
    .cart-bill{
        width: 100%;
        margin-bottom: 50px;
    }
    .cart-bill-con{
        margin-left: 0;
    }
    .cart-bill-title{
        font-size: 17px;
    }
    .btn-checkout,.cart-bill-price,.cart-bill-name{
        font-size: 14px;
    }
    .cart-bill-total{
        font-size: 15px;
    } 
    .cart-empty{
        width: 100%;
    }
    .cart-empty img{
        width: 100%;
        height: 50%;
    }
}