.updateinfor_containers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container_con_update {
    width: 1200px;
    min-height: 80%vh;
}

.title {
    margin-top: 30px;
}

.title .iconPre h3 {
    margin-left: 15px;
}

.inforAll {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.tag h5 {
    text-align: right;
}

.btnInfor {
    text-align: center;
}

.imageAvatar_update {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

.image_update {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.image_update img {
    width: 100%;
    object-fit: cover;
}

.btnInfor .btn {
    margin-right: 10px;
}

.name {
    width: 70%;
}

.title .link_backUpdateInfor {
    text-decoration: none;
}

.update_fileIMG input {
    display: none;
}

.update_btn_save {
    background-color: #23C431;
    padding: 10px 10px;
    color: #fff;
    border-radius: 10px;
}

.avatarAccount_update {
    position: relative;
}

.update_fileIMG {
    position: absolute;
    top: 85%;
    left: 70%;
}

.btn_icon_edit {
    background-color: #23C431;
    border-radius: 50%;
}

.update_icon_edit {
    color: #fff;
}

@media (min-width: 375px) and (max-width: 700px) {
    .name {
        width: 100%;
    }
    .tag h5 {
        text-align: center;
    }
    .update_fileIMG input {
        position: relative;
    }
    .image_update {
        width: 250px;
        height: 250px;
    }
}