.footer-container{
    display: flex;
    justify-content: center;
    background-color:#b8b5b5;
    padding: 40px 0;
}
.footer-container-con{
    width: 1200px;
    display: flex;
}
.footer-left{
    flex: 2;
}
.footer-center{
    margin-left: 20px;
    flex: 1;
}
.footer-right{
    flex: 1;
}
.footer-list{
    list-style: none;
    padding: 0;
}
.footer-item{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.footer-span{
    font-size: 20px;
}
.footer__title{
    color: #00B761;
    margin-bottom: 1px;
    font-size: 25px;
    font-weight: 600;
}
.footer-link{
    cursor: pointer;
}
.footer-link:hover{
    opacity: 0.8;
}
.contact-link{
    color: #222;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-link-title{
    margin-left: 10px;
}
.contact-link:hover{
    text-decoration: none;
    color: #222;
   
}
@media (min-width:780px) and (max-width:1023px) {
    .footer-container{
        background-color: #E5E5E5;
    }
    .footer-container-con{
        flex-direction: column;
        margin-left: 15px;
    }   
    .footer__title{
        font-size: 22px;
    }
    .footer-center{
        margin: 20px 0;
    }
}   

@media (max-width:779px){
    .footer-container{
        background-color: #E5E5E5;
    }
    .footer-container-con{
        flex-direction: column;
        margin-left: 15px;
    }   
    .footer__title{
        font-size: 22px;
    }
    .footer-center{
        margin: 20px 0;
    }
    .contact-title,.footer-span{
        font-size: 17px;
    }
}