.shopdetail_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.container_con_shopdetail {
    width: 1200px;
}
.title_name_shop {
    margin-top: 30px;
}

.avatar_shop {
    display: flex;
    align-items: center;
    border: solid #23C431 10px;
    background-color: #fff;
    padding: 20px 20px;
    padding-left: 30px;
}

.shopdetail_infor {
    margin-left: 20px;
}

.avatar_shop img {
    width: 100px;
    height: 100px;
}

.shop_email {
    color: #9e9fa2;
}

.shop_phone {
    color: #9e9fa2;
}

#icon_shopinfor {
    margin-right: 5px;
}


@media (min-width: 375px) and (max-width: 700px) {
    .container_con_shopdetail {
        width: 100%;

    }
   .avatar_shop img {
       width: 80px;
       height: 80px;
   }
   .title_name_shop {
    margin-left: 10px;
    margin-right: 10px;
   }
   .avatar_shop {
        border: solid #23C431 5px;
        width: 100%;
        padding: 15px 15px;
        padding-left: 10px;
    }
    .shop_name h3 {
        font-size: 25px;
    }
    
}

@media (min-width: 700px) and (max-width: 1023px) {
    .container_con_shopdetail {
        width: 100%;
    }

    .title_name_shop {
        margin-left: 20px;
        margin-right: 20px;
       }
}