@import '../../root.css';
.conatiner-head{
    background-color: #f5f5fa;
}
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container-con{
    width: 1200px;
    display: flex;
    height: 300px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.home-container-categories{
    width: 1200px;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid rgb(190, 189, 189);
    background-color: #E5E5E5;
    position: relative;
}
.home-banner-left{
   flex: 2;
   box-sizing: border-box;
   overflow: hidden;
   max-width: 800px;
   max-height: 300px;
   position: relative;
}
.categories-links{
    margin:0 60px;
    color: #E50914;
    cursor: pointer;
    transition: 0.4s all;
}
.categories-links:hover{
    opacity: 0.7;
    color: #E50914;
    text-decoration: none;
}
.btn-banner{
    position: absolute;
    top: calc(50% - 30px);
    z-index: 501;
    background-color: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 30px 5px;
    opacity: 0.5;
    transition: 0.4s all;
}
.btn-banner:hover{
    opacity: 1;
}
.btn-prev-banner{
    left: 0%;
}
.btn-next-banner{
    right: 0%;
}
.aaaa{
    width: 100%;
    height: 100%; 
}
.btn-categories{
    position: absolute;
    top: 21%;
    z-index: 501;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    opacity: 0.3;
    transition: 0.4s all;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-categories:hover{
    opacity: 1;
    background-color: rgba(0,0,0,0.3);
}
.btn-prev-categories{
    left: 0;
}
.btn-next-categories{
    right: 0;
}
.home-banner-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1px;
    box-sizing: border-box;
}
.home-banner-right-top{
    flex: 1;
    height: 50%;
    margin-bottom: 1px;
    box-sizing: border-box;
}
.home-banner-right-bottom{
    flex: 1;
    height: 50%;
}
.home-banner-right-top img,.home-banner-right-bottom img{
    width: 100%;
    height: 100%;
}
.home-container-container{
    display: flex;
}
.home-container-product{
    display: flex;
    width: 1200px;
    
    padding: 20px 0;
    flex-wrap: wrap;
}
.home-bg-dark{
    background-color: #E5E5E5;
}
.home-title{
    width: 1200px;
    justify-self: center;
}
.h1-home-title{
    margin:10px 0;
    font-weight: 300;
    font-size: 45px;
    border-bottom: 4px solid #00B761;
    color: #00B761;
}

@media (min-width:1023px) and (max-width:1199px) {
    .home-container-product{
       justify-content:space-around;  
    }
}
@media (min-width:780px) and (max-width:1023px) {
    .btn-categories{
        display: none;
    }
    .h1-home-title{
        margin:5px 0 5px 5px;
    }
    .home-container-product{
        margin: 0 25px;
        justify-content: space-between;
    }
    .home-banner-right{
        display: none;
    }
    .home-banner-left{
        margin: 0 auto;
        background-color: #E5E5E5;
    }
    .btn-prev-banner{
        left:2%;
    }
    .btn-next-banner{
        right:2%;
    }
    
}

@media (max-width:779px){
    .h1-home-title{
        font-size: 30px;
        border-bottom: 2px solid #00B761;
        margin:5px 0 5px 5px;
    }
    .btn-categories{
        display: none;
    }
    .home-container-con{
        flex-direction: column;
    }
    .home-banner-right{
        display: none;
    }
    .home-banner-left{
       height: 200px;
       background-color: #f5f0f0;
    }
    .home-container-product{
        margin: 0 10px;
        justify-content: space-between;
    }
    .aaaa{
        width: 100%;
        height: 100%; 
    }
    .btn-banner{
        padding: 20px 0px;
    }
    .btn-prev-banner{
        left:2%
    }
    .btn-next-banner{
        right:2%
    }
}
@media (min-width:600px) and (max-width:779px) {
    .home-container-con{
        width: 600px;
        background-color: #f5f0f0;
    }
}
@media (min-width:500px) and (max-width:599px){ 
    .home-container-con{
        width: 400px;
    }
}
@media (min-width:350px) and (max-width:499px){
    .home-container-con{
        width: 400px;
        height: 200px;
    }  
    .home-banner-left{
        width: 400px;
        height: 200px;  
        background-color: #f5f0f0;
    } 
}
@media (max-width:349px){
    .home-container-con{
        width: 300px;
        height: 150px;
    }  
    .home-banner-left{
        width: 300px;
        height: 150px;
        background-color: #f5f0f0; 
    } 
}