.gallery-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}
.gallery-slider{
    width: 400px;
    height: 120px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
}
.gallery-list-slider{
    width: 350px;
    height: 84px;
    padding: 5px;
    overflow: hidden;
}
.gallery-img-product{
    width: 320px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: white;
}
.gallery-img-product img{
    width:100%;
    height:100%;
    border-radius: 5px;
    object-fit: contain;
}
.img-gallery{
    width: 55px;
    height: 80px;  
}
.img-gallery-selected{
    width: 55px;
    height: 80px; 
}
.img-gallery-selected img{
    width: 100%;
    height: 100%;
    border: 2px solid #00B761; 
    box-sizing: border-box;
    object-fit: contain;
}
.img-gallery img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.gallery-slider .slick-slide{  
    margin-left: -1px;
    margin-right: 1px;
}
.btn-gallery{
    position: absolute;
    top: calc(30%);
    z-index: 501;
    border: none;
    outline: none;
    border-radius: 50%;
    transition: 0.4s all;
    min-width: 5px;
    background-color: transparent;
}
.btn-next-gallery{
    right: 1%;
}
@media (min-width:1024px) and (max-width:1200px){
    .btn-gallery{
        display: none;
    }
}
@media (min-width:780px) and (max-width:1023px) {
    .gallery-img-product{
        width: 500px;
        height: 400px;
    }  
    .gallery-slider{
        width: 600px;   
    }
    .gallery-list-slider{
        width: 600px;
        height: 120px;
    }
    .img-gallery-selected,.img-gallery{
        width: 200px;
        height: 120px;
    }
    .btn-gallery{
        display: none;
    }
}
@media (max-width:779px){
    .btn-gallery{
        display: none;
    }
}