@import '../../root.css';
.product-container{
    background-color: rgb(253, 251, 251);
    padding: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;   
    transition: .5s; 
    box-shadow:  0 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.product-container-link{
    width: 240px;
    height: 350px;
}
.product-container-link:hover{
    text-decoration: none;
    background-color: #fff;
    z-index: 90;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    
}
.price-sale{
    text-decoration: line-through;
    color:gray;
    font-size:17px;
}
.product-name{
    margin-top: 10px;
    color: #00B761;
    font-weight: 500;
}
.price{
    font-weight: 600;
    color:#bd3e3e;
    font-size:19px;
}
.product-image{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid gray;
}
.product-image img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.product-rating-medium{
    display: flex;
    align-items: center;
}
.product-rating-txt{
    color: rgb(146, 142, 142);
    font-size: 18px;
    margin-left: 10px;
}
.product-rating-none{
    color: rgb(146, 142, 142);
}
@media (min-width:790px) and (max-width:1023px) {
    .product-container-link{
        margin-top: 15px;
        border-radius: 10px;
    }
    .product-image{
        height: 200px;
    }
}
@media (max-width:779px){
    
    .product-image{
        height: 200px;
    }
}
@media (min-width:360px) and (max-width:480px){
    .product-container-link{
        margin-bottom:5px;
        width: 45vw;
        height: 280px;
    }
    .product-image{
        height: 160px;
    }
    .product-image{
        height: 130px;
    }
    .product-rating-txt{
        font-size: 14px;
    }
}
@media (max-width:359px){
    .product-container-link{
        margin-bottom:5px;
        width: 45vw;
        height: 290px;
    }
    .product-image{
        height: 130px;
    }
    .product-rating-medium{
        width: 100%;
    }
    .product-rating-txt{
       display: none;
    }
}
