.productDetail-conainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.productDetail-conainer-con{
    padding-top: 20px;
    width: 1200px;
    display: flex; 
}
.productDetail-left-bar{
    flex: 1;
    overflow: hidden;
}
.productDetail-right-bar{
    flex: 2;
    padding: 0 20px;
}
.productDetail-right-title{
    color: #00B761;
    font-weight: 500;
    font-size: 30px;
}
.productDetail-desc-title{
    font-weight: bold;
    font-size: 24px;
    color: #524d4f;
}
.productDetail-desc-spn{
    font-weight: 24px;
    font-size: 18px;
}
.productDetail-rating-medium{
    display: flex;
    align-items: center;
}
.productDetail-rating-txt{
    margin-left: 5px;
    font-size: 18px;
}
.productDetail-price-sale{
    text-decoration: line-through;
    color:gray;
    font-size:20px;
    margin-bottom: 5px;
}
.productDetail-price{
    margin-top: 5px;
    font-weight: 600;
    color:#c53030;
    font-size:23px;
}
.productDetail-price-container{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productDetail-center{
    display: flex;
}
.productDetail-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
}
.productDetail-btn-check,.productDetail-btn-add{
    border: none;
    width:120px;
    height: 35px;
    border-radius: 5px;
    background-color: #00B761;
    transition: .4s all;
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productDetail-link-shop {
    text-decoration: none;
    color: #fff;
}

.productDetail-link-shop:hover {
    text-decoration: none;
    color: #fff;
}
.productDetail-load{
    width: 100vw;
    height: 90vh;
}
.productDetail-btn-add:hover{
    opacity: 0.8;
}
.comment{
    width: 1200px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.comment-desc{
    margin-bottom: 10px;
}

.productdetail-link-shop {
    text-decoration: none;
    color: #fff;
}
.productdetail-link-shop:hover {
    text-decoration: none;
    color: #fff;
}

@media (min-width:1024px) and (max-width:1200px){
    .comment{
        margin-left: 200px;
    }
}
@media (min-width:780px) and (max-width:1023px) {
    .comment{
        width: 100%;
        margin-right: 20px;
        justify-content: center;
    }
    .comment-desc .productDetail-desc-title{
        margin-left: 20px;
    }
    .productDetail-conainer-con{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
    }
    .productDetail-right-bar{
       width: 100%;
       padding: 0 20px;
       margin: 30px auto;
    }
    .productDetail-desc-spn{
        padding-right:20px; 
    }
   
}
@media (max-width:779px){
    .comment{
        width: 100%;
        justify-content: center;
    }
    .productDetail-conainer-con{
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .comment-desc .productDetail-desc-title{
        margin-left: 15px;
        font-size: 22px;
    }
    .productDetail-right-bar{
        width: 100%;
        margin: 30px 0;
     }
    .productDetail-desc-spn{
        padding-right:20px; 
        font-size: 20px;
    }
    .productDetail-right-title{
        font-size: 20px;
    }
    
}