.orderdetail_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    align-items: flex-start;
    background-color: #eff0f5;
}

.container_con_orderdetail {
    width: 1200px;
}

.orderdetail_delete{
    background-color: rgb(237, 53, 53);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.list_orderdetail {
    margin-bottom: 30px;
}

.title_orderdetail {
    font-size: 22px;
    color: #424242;
    margin-left: 20px;
    margin-top: 20px;
}

.list_orderdetail .name_shop_detail {
    border: 1px solid #fff;
    margin-top: 20px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.orderdetail_avatar {
    display: flex;
    align-items: center;
}

.orderdetail_key_time {
    margin-bottom: 30px;
}

.list_orderdetail .name_shop_detail .title_name_shop_detail {
    font-weight: bold;
    margin-left: 5px;
}

.list_orderdetail .name_shop_detail img {
    width: 20px;
    height: 20px;
}

.list_orderdetail .title_row_orderdetail {
    padding-left: 25px;
    border: solid 1px #fff;
    background-color: #fff;
    margin-top: 5px;
}

.list_orderdetail .title_row_orderdetail {
    padding-left: 45px;
}

.list_orderdetail .title_row_orderdetail {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list_orderdetail .title_row_orderdetail .order_img_product_detail img {
    width: 125px;
    height: 125px;
    border-radius: 5px;
    overflow: hidden;
}

.list_orderdetail .title_row_orderdetail .list_product_detail {
    margin-bottom: 20px;
}

.list_orderdetail .title_row_orderdetail .order_name_product_detail {
    display: block;
    display: -webkit-box;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orderdetail_infor {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.orderdetail_col_infor {
    background-color: #fff;
    border: 1px solid #fff;
}

.orderdetail_col_price {
    background-color: #fff;
    border: 1px solid #fff;
}

.orderdetail_infor_name {
    margin-top: 20px;
}

#orderdetail_infor_name_last {
    margin-bottom: 20px;
}

.orderdetail_title_order {
    margin-top: 20px;
}

#orderdetail_price_id {
    text-align: right;
}

.orderdetail_price_all_product {
    margin-bottom: 20px;
    margin-top: 10px;
}

.orderdetail_title_price_product {
    margin-top: 10px;
    margin-bottom: 20px;
}

#orderdetail_title_ic {
    color: #8F8F8F;
}

.orderdetail_price_all {
    color: #23C431;
}

.orderdetail_time {
    color: #c7d2d8;
}

#key_and_time {
    margin-right: 10px;
}

.orderdetail_time {
    font-size: 15px;
}

.oderedetail_textarea {
    width: 100%;
    padding-bottom: 50px;
    border: 1px #8F8F8F solid;
    border-radius: 5px;
}

.orderdetail_btn_report {
    background-color: rgb(237, 53, 53);
    color: #fff;
    padding: 3px;
    margin-right: 5px;
    border-radius: 5px;
}

.orderdetail_btn_report:hover {
    background-color: rgb(165, 4, 4);
    color: #fff;
}

.orderdetail_btn_delete {
    background-color: rgb(237, 53, 53);
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}

.orderdetail_btn_delete:hover {
    background-color: rgb(165, 4, 4);
    color: #fff;
}

@media (min-width: 375px) and (max-width: 700px) {
    .list_orderdetail .title_row_orderdetail .order_img_product_detail {
        text-align: left;
    }
    .list_orderdetail .title_row_orderdetail .order_name_product_detail {
        display: block;
        display: -webkit-box;
        text-align: left;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .list_orderdetail .title_row_orderdetail {
        padding-left: 20px;
    }
    .list_orderdetail .title_row_orderdetail .order_img_product_detail img {
        width: 150px;
        height: 150px;
        border-radius: 5px;
        overflow: hidden;
    }
    .orderdetail_price_all_product {
        margin-bottom: 0;
        margin-top: 0;
    }
    .orderdetail_title_price_product {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .orderdetail_title_price_ship {
        margin-top: 10px;
    }
    .orderdetail_price_all {
        margin-bottom: 30px;
    }
}

@media (min-width: 700px) and (max-width: 850px) {
    .list_orderdetail .title_row_orderdetail .list_product_detail .order_name_product_detail {
        padding-left: 30px;
    }
}