.menu-container{
    width: 1200px;
    position: relative;
}
.menu-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu-phone{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E5E5E5;
    z-index: 506;
}
.menu-list-item{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
}
.menu-link{
    display: block;
    padding:10px 20px;
    color: #524d4f;
    text-decoration: none;
}
.menu-link-selected{
    color: #00B761;
    transition: .4s all;
    border-bottom: 2px solid #00B761;
}
.menu-phone-selected{
    color: #00B761;
    transition: .4s all;
    font-weight: 600;
}
.menu-link:hover{
    color: #00B761;
    text-decoration: none; 
}

.menu-phone-title{
    font-size: 19px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    align-items: center;
    font-weight: 600;
    margin-left: 10px;
    display: none;
}
.menu-phone-title:hover{
    opacity: 0.7;
}
.menu-phone-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 505;
    background-color: rgba(0,0,0,0.5);
}
.menu-phone-hidden{
    display: none;
}
.menu-list-cancel{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    padding: 10px 0;
    background-color: rgb(219, 61, 61);
    color: #fff;
    font-weight: 600;
    letter-spacing: 2;
    transition: 0.4s;
}
.menu-list-cancel:hover{
    opacity: 0.9;
}
@media (min-width:780px) and (max-width:1023px) {
    .menu-list{
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:779px){
    .menu-list{
        display: none;
    }
    .menu-phone-title{
        display: block;
    }
    .menu-list-item{
        font-size: 18px;
    }
}