.slideitem-container{
    position: relative;
   width: 100%;
    height: 100%;
}
.slideitem-title{
    background-color:#015f19;
    color: white;
    display: inline-block;
    padding: 5px;
    position: absolute;
    left: 25%;
    bottom: 20%;
    font-size: 22px;
}
.slideitem-container img{
    max-width: 800px;
    height: 300px;
    object-fit: cover;
}
@media (min-width:780px) and (max-width:1023px) {
    .slideitem-title{
        font-size: 18px;
        object-fit: contain;
    }
}

@media (max-width:779px){
    .slideitem-title{
        font-size: 18px;
        object-fit: contain;
    }
}
@media (max-width:499px){
    .slideitem-container img{
        width: 400px;
        height: 200px;
        object-fit: contain;
    }  
}
@media (max-width:349px){
    .slideitem-container img{
        width: 300px;
        height: 150px;
        object-fit: contain;
    }
}