.login_relative{
    background-color: #f6f6f6;
}
.login_title{
    margin-left: 68px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00B761;
}
.login_p{
    text-align: center;
}
.forgot_login{
    margin-left: 210px;
}
.login_btn{
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    background-color: blue;
    height: 40px;
    border-radius: .25rem;
}
.regis-link{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.btn{
    background-color: #00B761;
    color: #f6f6f6;
}

/* Ipad */
/* @media (max-width:779px) */
@media (min-width:780px) and (max-width:1023px){
    .img_logo{
        position: relative;
        right: 15%;
        z-index: 0;
    }
    #login_form{
        z-index: 10;
    }
    .login_title{
        margin-left: 75px;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #00B761;
    }
}
